@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=Della+Respira&display=swap');

:root {
  --clr-primary-black: hsl(0, 5%, 4%);
  --clr-primary-white: hsl(0, 0%, 100%); 
  --clr-orange: hsl(29, 100%, 63%); 
  --clr-cinnamon: hsl(29, 100%, 38%);
  --clr-gray-100: hsl(0, 0%, 85%);
  --clr-gray-200: hsl(0, 0%, 62%);
  --clr-gray-300: hsl(0, 0%, 30%);
  
  --font-della-respira:'Della Respira', serif;
  --font-cinzel: 'Cinzel', serif;   
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: var(--font-della-respira);
  padding: 0;
  overflow-x: hidden;
  font-size: 100%;
  line-height: 1.6;  
  letter-spacing: 1px;
}

h1,h2,h3 {
  font-family: var(--font-cinzel);
  font-weight: 400;
}

h2 {
  font-size: 1.6rem;
  padding: 0 1.3rem;
  line-height: 1.3;
}

p {
  padding: 0 1.3rem
}

a,
a:visited,
a:active {
    text-decoration: none;
}

a {
    cursor: pointer;
    color: var(--clr-primary-white);
}

a:hover {
  text-decoration: underline;
}

img {
    width: 100%;
    display: block;
}


ul {
  list-style: none;
}

.header--shop {
  padding: 0 1.3rem;
  margin-top: 1.5rem;
}



@media screen and (min-width: 50.9em) {
  h2 {
    font-size: 2rem;
    padding-top: 1rem;
  }

  p {
      font-size: 1.2rem;
      margin-top: 1.5rem;
  }
}